* {
    margin: 0 auto;
    padding: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #33668A;
    font-size: 14px;
    text-decoration: none;
}

.id {
    margin-left: 300px;
    color: #475f72;
    font-size: 12px;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: #81b1d3;
    text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.03), -10px 20px 5px rgba(0, 0, 0, 0.03);
}

.back {
    padding: 25px 5px;
    width: 500px;
    text-align: left;
}

img {
    border-radius: 20px;
    transition: 3s;
}

img:hover {
    transform: scale(1.2);
}